.topnav a {
    margin-top: 11px;
    padding: 4px;
}
.topnav {
    background-color: pink;
    height: 50px;
}
/*select the last two items*/
.topnav a:nth-child(n + 3) {
    float: right;
}

.bottomnav {
    position: absolute;
    bottom: 0;
    background-color: pink;
    width: 100%;
}

.image-bar-btn { 
    text-align: center; /*places icon, text bar, and buttons at center of div*/  
    margin: 0 auto;
    width: 60%;
    height: 300px;    
}

.image-bar-btn > img {
    width: 400px;
  
}
.image-bar-btn input {
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin-top: 15px;
    border: 1px solid #D0D0D0;
}

.image-bar-btn button {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.image-bar-btn button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 4px;
    background-color: #f8f9fa;
}


